.textone {
    font-size: 20px;
    font-weight: bold;
    text-decoration-line: underline;
    font-family: Andale Mono, monospace;
    color: white;
    text-align: center;
}
.center {
    margin: 0 auto;
    width: 600px;
    height: 400px;
}

hr {
    width:50%;
    margin:0 auto;
}

.icons {
    text-align: center;
    padding: 0px 5px 5px 0px;
}

.icons img{
    transition: 0.5s;
}

.icons img:hover{
    transform: scale(1.25);
}
