/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-family: Andale Mono, monospace;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #D047A2;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 60%;
    height: 50%;
}

.aboutintrotext {
    font-size: 8px;
    font-weight: bold;
    font-family: Andale Mono, monospace;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    float: top;
    width: 60%;
    height: 50%;
}

.abouttext {
    font-size: 12px;
    font-weight: bold;
    font-family: Andale Mono, monospace;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    float: top;
    width: 60%;
    height: 50%;
}