.gallery{
    margin: 10px 73px;
}

.gallery img{
    width: 430px;
    height: 250px;
    padding: 4px;
    transition: 1s;
}

.gallery img:hover{
    transform: scale(1.05);
}

.but{}
.but a{
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    font-family: Andale Mono, monospace;
}

.but a:hover {
    background-color: #D047A2;
    color: white;
}

.previous {
    background-color: #333;
    color: white;
    position: relative;
    left: 43%;
    bottom: 0;
    transform: translate(-50%, 0%);
    margin: 0 0;
}

.next {
    background-color: #333;
    color: white;
    position: relative;
    left: 43%;
    bottom: 0;
    transform: translate(-50%, 0%);
    margin: 0 0;
}

.round {
    border-radius: 50%;
}