.profile {
}

.profile img{
    padding: 20px 15px;
    float: left;
}

.stattext {
    font-size: 14px;
    font-weight: bold;
    font-family: Andale Mono, monospace;
    color: white;
    display: block;
    margin-left: 10cm;
    margin-right: auto;
    margin-top: 2cm;
    float: top;
}

.hourtable {
    font-size: 14px;
    font-weight: bold;
    text-decoration-line: underline;
    font-family: Andale Mono, monospace;
    color: white;
    display: block;
    margin-left: 15cm;
    margin-top: 5cm;
    width: 500px;
    height: 500px
}

.addon {
    font-size: 20px;
    font-weight: bold;
    text-decoration-line: underline;
    font-family: Andale Mono, monospace;
    color: white;
    display: block;
    margin-left: 16cm;
    margin-top: auto;
}

.addonpart {
    font-size: 30px;
    font-weight: bold;
    font-family: Andale Mono, monospace;
    color: white;
    display: block;
    margin-left: 10cm;
    margin-top: auto;
}